.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 5;
    position: absolute;
    width: 35%;
    margin: 0;
    top: 70%;
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        top: 60%;
        font-size: 14px;
        width: 90%;
    }
}