.lead__title {
    margin-top: 12%;
    margin-bottom: 0;
    width: 60%;
    font-weight: 900;
    font-size: 6em;
    line-height: 104%;
    display: flex;
    text-align: center; 
    justify-content: center;
    text-align: center;
}