.lead__image {
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 100%;
    max-width: 984px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        margin: 0 48px;
    }
}