.cover__background {
    z-index: 2;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    align-self: center;
    width: 100%;
    max-width: 1184px;
}
.cover__background:hover {
    opacity: 0.3;
}